:root {
  --black: #000000;
  --basic-pink: #fb565a;
  --hover-pink: #e74246;
  --active-pink: #d7373b;
  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;
  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --active-yellow: #e5a722;
  --white: #ffffff;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --basic-grey: #eeeeee;
  --dark-grey: #283136;
  --social-grey: #e1e1e1;
  --filter-grey: #4d4d4d;
  --icon-grey: #a6a6a6;
  --card-grey: #666666;
  --border-grey: #dbdbdb;
  --btn-hover-grey: #dfdfdf;
  --btn-active-grey: #d5d5d5;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto-Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto-Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-grey);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Шапка*/
.main-header {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 500;
  background-color: var(--basic-grey);
  padding-bottom: 78px;
}

.main-navigation-logo {
  width: 160px;
  height: 65px;
  margin-right: 203px;
  display: block;
  padding-top: 49px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 245px;
}

.main-navigation-wrapper .container {
  display: flex;
}

.user-navigation {
  max-width: 160px;
}

.main-navigation-list {
  list-style: none;
}

.navigation-list-item,
.site-basket {
  display: block;
  padding-bottom: 9px;
  padding-top: 75px;
}

.main-navigation a,
.site-basket a {
  color: var(--black);
}

.main-navigation a:hover,
.site-basket a:hover,
.main-navigation a:focus,
.site-basket a:focus {
  color: var(--basic-pink);
}

.active-menu {
  border-bottom: 2px solid var(--basic-pink);
  padding-bottom: 13px;
}

.main-navigation a:active,
.site-basket a:active {
  opacity: 0.3;
  color: var(--black);
}

.user-navigation .site-basket {
  position: relative;
  padding-left: 40px;
}

.user-navigation .site-basket::before {
  content: "";
  position: absolute;
  top: 82px;
  left: 4px;
  width: 21px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Секция со слайдером*/

.information {
  background-color: var(--basic-grey);
  margin-bottom: 176px;
}

.slider-wrapper {
  display: flex;
  width: 538px;
  flex-wrap: wrap;
}

.information-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.information-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  margin: 0;
  padding-bottom: 27px;
}

.information-description {
  margin: 0;
  padding-bottom: 37px;
}

.learn-button {
  color: var(--white);
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-pink);
  border-radius: 3px;
}

.information-button {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 88px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

/*Услуги*/
.products {
  margin-bottom: 155px;
}

.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid var(--basic-grey);
  padding-bottom: 80px;
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.products-item p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.products-item a {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.products-item img {
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.products-button {
  display: inline-block;
  padding: 15px 39px;
}

.web-sites-button {
  background-color: var(--basic-pink);
}

.web-sites-button:hover,
.web-sites-button:focus {
  background-color: var(--hover-pink);
}

.web-sites-button:active {
  background-color: var(--active-pink);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--white-opacity);
}

.apps-button {
  background-color: var(--basic-green);
}

.apps-button:hover,
.apps-button:focus {
  background-color: var(--hover-green);
}

.apps-button:active {
  background-color: var(--active-green);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--white-opacity);
}

.presentations-button {
  background-color: var(--basic-yellow);
}

.presentations-button:hover,
.presentations-button:focus {
  background-color: var(--hover-yellow);
}

.presentations-button:active {
  background-color: var(--active-yellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--white-opacity);
}

/*О студии*/
.description {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 149px;
  margin-bottom: 121px;
}

.description-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 32px;
}

.description-views {
  margin: 0;
  margin-bottom: 40px;
}

.description-item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
}

.description-item li {
  margin-bottom: 39px;
}

.description h3 {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.heading-table {
  color: var(--black);
}

.description-table img {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.description-table-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-table span {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--black);
}

/*Партнеры*/
.partners ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 126px;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

/*Карта*/
.map-adress {
  text-align: center;
  outline: 5px solid #ff0000; /*временная обводка*/
  width: 319px;
}

.map-adress h2 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 49px;
}

.map-adress p,
.number-phone {
  color: var(--card-grey);
  line-height: 18px;
}

.write-button {
  display: inline-block;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-pink);
  border-radius: 3px;
  width: 219px;
  height: 50px;
  margin-bottom: 47px;
  margin-top: 38px;
}

/*Футер*/
.main-footer {
  padding: 68px 0;
}

.main-footer {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  align-items: center;
}

.main-footer h2 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.discount h2 {
  margin: 0;
  margin-bottom: 10px;
}

.discount p {
  line-height: 22px;
  margin: 0;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  background-color: var(--social-grey);
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
}

.insta-item {
  margin-right: 0;
} /*насколько верно так делать?иначе иконки не входят в строку*/

.footer-social a:hover,
.footer-social a:focus {
  background-color: var(--hover-pink);
}

.footer-social a:active {
  background-color: var(--active-pink);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.vk-item img {
  padding: 33px 27px;
}

.fb-item img {
  padding: 30px 33px 26px 33px;
}

.insta-item img {
  padding: 30px;
}

.social-item img:active {
  opacity: 0.3;
}

.modal-window {
  display: none;
}

/*Заголовок на странице каталога*/

.main-catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 117px;
  background-color: var(--basic-grey);
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  margin-top: 59px;
}

/*Формы*/
.filters {
  width: 260px;
}

.form-container fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.heading-form {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.grid-form,
.features-form {
  line-height: 19px;
}

.grid-form {
  margin-bottom: 46px;
}

.features-form {
  margin-bottom: 50px;
}

.grid-form ul,
.features-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-form .heading-form,
.features-form .heading-form {
  margin-bottom: 16px;
}

.filter-option {
  margin-bottom: 29px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option label:disabled {
  cursor: default;
  opacity: 0.3;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -35px;
  top: 0;
  width: 26px;
  height: 23px;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -35px;
  top: 0;
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -35px;
  top: 0;
  width: 25px;
  height: 25px;
  opacity: 0.4;
}


.form-submit {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-grey);
  border-radius: 3px;
  width: 260px;
  height: 50px;
  border: none;
}

.form-submit:hover,
.form-submit:focus {
  background-color: var(--btn-hover-grey);
}

.form-submit:active {
  background-color: var(--btn-active-grey);
}/*как добавить прозрачность текста при нажатии у кнопки?*/



/*Сортировать*/
.sorting-wrapper {
  display: flex;
  width: 760px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sorting-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 272px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 88px;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--black);
}

.sorting-item a:hover {
  opacity: 0.6;
}

.sorting-item a:active {
  opacity: 1;
  color: var(--black);
}

.sorting-item-current a {
  opacity: 1;
  color: var(--black);
}

.template {
  margin-left: 140px;
}

.catalog-template {
  list-style: none;
  margin: 0 0 55px;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 41px;
  row-gap: 70px;
}

.catalog-item {
  position: relative;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover .description-card {
  display: block;
}

.description-card {
  background-color: var(--basic-grey);
  width: 360px;
  height: 231px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*Не выходит верно спозиционировать*/

}

.description-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.description-card p {
  line-height: 18px;
  text-align: center;
  color: var(--card-grey);
  margin-bottom: 32px;
}

.description-card .price-card {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  color: var(--white);
  background-color: var(--basic-pink);
  padding: 17px 72px 15px;
  margin: 32px 80px 44px;

}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  text-align: center;
  color: var(--black);
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-item-current a {
  background-color: var(--white);
  border: 3px solid var(--border-grey);
}
