:root {
  --black: #000000;
  --basic-pink: #fb565a;
  --hover-pink: #e74246;
  --active-pink: #d7373b;
  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --active-green: #00aa62;
  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --active-yellow: #e5a722;
  --white: #ffffff;
  --basic-grey: #eeeeee;
  --dark-grey: #283136;
  --social-grey: #e1e1e1;
  --filter-grey: #4d4d4d;
  --icon-grey: #a6a6a6;
  --card-grey: #666666;
  --border-grey: #dbdbdb;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-grey);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Шапка*/
.main-header {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 500;
  background-color: var(--basic-grey);
  padding-bottom: 78px;
}

.main-navigation-logo {
  width: 160px;
  height: 65px;
  margin-right: 203px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.user-navigation {
  max-width: 160px;
}

.user-navigation .site-basket {
  padding-left: 50px;
}

.main-navigation-list {
  list-style: none;
}

.main-navigation a,
.site-basket a {
  color: var(--black);
}

.main-navigation a:hover,
.site-basket a:hover,
.main-navigation a:focus,
.site-basket a:focus {
  color: var(--basic-pink);
}

.active-menu {
  border-bottom: 2px solid var(--basic-pink);
  padding-bottom: 13px;
}

.main-navigation a:active,
.site-basket a:active {
  opacity: 0.3;
  color: var(--black);
}

/*Секция со слайдером*/

.information {
  background-color: var(--basic-grey);
  margin-bottom: 176px;
}

.slider-wrapper {
  display: flex;
  width: 538px;
}

.information-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.information-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  margin: 0;
  padding-bottom: 27px;
}

.information-description {
  margin: 0;
  padding-bottom: 37px;
}

.learn-button {
  color: var(--white);
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-pink);
  border-radius: 3px;
}

.information-button {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.btn {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

/*Услуги*/
.products {
  margin-bottom: 155px;
}

.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 700;
}

.products-item p {
  font-size: 16px;
  line-height: 24px;
}

.products-item a {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.web-sites-button {
  background-color: var(--basic-pink);
}

.web-sites-button:hover,
.web-sites-button:focus {
  background-color: var(--hover-pink);
}

.web-sites-button:active {
  background-color: var(--active-pink);
  /*доделать прозрачность текста*/
}

.apps-button {
  background-color: var(--basic-green);
}

.apps-button:hover,
.apps-button:focus {
  background-color: var(--hover-green);
}

.apps-button:active {
  background-color: var(--active-green);
  /*доделать прозрачность текста*/
}

.presentations-button {
  background-color: var(--basic-yellow);
}

.presentations-button:hover,
.presentations-button:focus {
  background-color: var(--hover-yellow);
}

.presentations-button:active {
  background-color: var(--active-yellow);
  /*доделать прозрачность текста*/
}

/*О студии*/
.description {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 149px;
  margin-bottom: 121px;
}

.description-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 32px;
}

.description-views {
  margin: 0;
  margin-bottom: 40px;
}

.description-item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.description-item li {
  margin-bottom: 39px;
}

.description h3 {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.heading-table {
  color: var(--black);
}

.description-table img {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.description-table-item {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Партнеры*/
.partners ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 126px;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

/*Карта*/
.map-adress {
  text-align: center;
  outline: 5px solid #ff0000; /*временная обводка*/
  width: 319px;
}

.map-adress h2 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 49px;
}

.map-adress p,
.number-phone {
  color: var(--card-grey);
  line-height: 18px;
}

.write-button {
  display: inline-block;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-pink);
  border-radius: 3px;
  width: 219px;
  height: 50px;
  margin-bottom: 47px;
  margin-top: 38px;
}

/*Футер*/
.main-footer {
  padding: 68px 0;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-items: center;
  column-gap: 139px;

}

.main-footer h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.description-table span {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--black);
}

.discount h2 {
  margin-bottom: 10px;
}

.discount p {
  line-height: 22px;
}

.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.social-item {
  background-color: var(--social-grey); /*градиент???*/
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-right: 9px;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: var(--hover-pink);
}

.footer-social a:active {
  background-color: var(--active-pink);
  /*прозрачность иконки*/
}

.modal-window {
  display: none;
}

/*Заголовок на странице каталога*/

.main-header h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  text-align: center;
  text-transform: none;
  vertical-align: middle;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;

}

/*Формы*/

.heading-form {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.heading-form li {
  margin-bottom: 24px;
}

.grid-form .heading-form,
.features-form .heading-form {
  margin-bottom: 16px;
}

.price-form {
  border-style: none;
}

.price-form ul {
  list-style: none;
}

.grid-form,
.features-form {
  line-height: 19px;
  border: none;
}

.grid-form {
  margin-bottom: 46px;
}

.features-form {
  margin-bottom: 50px;
}

.grid-form ul,
.features-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*добавить стили для формы:наведение и заблокирован*/

.form-submit {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-grey);
  border-radius: 3px;
  width: 260px;
  height: 50px;
  border: none;

}

.sorting-wrapper {
  display: flex;
  width: 760px;
  justify-content: space-between;
}

.sorting-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 272px;
  display: flex;
  justify-content: space-between;
  margin-right: 88px;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--black);
}

.sorting-item a:hover {
  opacity: 0.6;
}

.sorting-item a:active {
  opacity: 1;
  color: var(--black);
}

.sorting-item-current a {
  opacity: 1;
  color: var(--black);
}

.template {
  margin-left: 140px;
}

.catalog-template {
  list-style: none;
  margin: 0 0 55px;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 41px;
  row-gap: 70px;
}

.catalog-item {
  position: relative;

}

.catalog-item:hover .description-card {
  display: block;
}

.description-card {
  background-color: var(--basic-grey);
  width: 360px;
  height: 231px;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.description-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.description-card p {
  line-height: 18px;
  text-align: center;
  color: var(--card-grey);
  margin-bottom: 32px;
}

.description-card .price-card {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  color: var(--white);
  background-color: var(--basic-pink);
  padding: 17px 72px 15px;
  margin: 32px 80px 44px;

}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  text-align: center;
  color: var(--black);
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-item-current a {
  background-color: var(--white);
  border: 3px solid var(--border-grey);
}
